.islem{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pacha{
  border-radius: 10px;
  background-color: bisque;
  text-decoration: none;
}
.Sgreen{
  color: green;
}
.Sred{
  color: red;
}
.aa{
  margin-left: 196px;
  margin-top: -47px;
  
}
.zz{
   margin-left: 230px;
}


  
 


.xx{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -15px
}
.uu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
 

}
.gg{
  margin-left: 330px;
  width: 121px;
}